<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="Author" content="Md. Wahiduzzaman Nayem">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>The Tree Valleys-Home</title>
</head>
<body>
  <header>
    <h2 class="logo">The Tree Valleys</h2>
    <nav class="navbar">
      <a href="index.html">Home</a>
      <a href="about.html">About</a>
      <a href="products.html">Products</a>
      <a href="#">Reviews</a>
      <a href="#">Blogs</a>
    </nav>
    <a href="contact.html"><button>Contact Us</button></a>
  </header>
  <div class="background"></div>
  <div class="content">
    <h1>Plant a tree and save millions of lives</h1>
    <p>If you would know strength and patience, welcome the company of trees.</p>
    <div>
      <a href="{% url 'signup' %}"><button type="button" onclick="window.location.href='signup.html'"><span></span>Sign Up</button></a>
      <a href="{% url 'login' %}"><button type="button" onclick="window.location.href='login.html'"><span></span>Sign In</button></a>
    </div>
  </div>

  <script src="js/app.js"></script>
</body>
</html>