@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@500;600&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
    background-image: url("log.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}
header{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  font-size: 2em;
  color: white;
  pointer-events: none;
}
.navbar a{
  text-decoration: none;
  color: white;
  padding: 6px 15px;
  border-radius: 0 10px;
  font-weight: 500;
}
.navbar a:hover{
  background-color: green;
  color: white;
  padding: 10px 15px;
}

button{
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid green;
  background: transparent;
  color: white;
  cursor: pointer;
}
button:hover {
  background-color: green;
  color: white;
  padding: 15px 0;
}